[run]
source = app
omit = 
    */tests/*
    */.github/*
    */docker/*
    */alembic/*
    .venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    
fail_under = 85

[html]
directory = coverage_html_report